@import url('base.scss');

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0em 1em 0em;
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
