@import url('base.scss');

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: darkslategray;
}

#submitButton{
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
